<%= content_tag_for(:li, letter_item) do %>
  <span class="name">
    <%= link_to letter_item.name.truncate(64), letter_item.url, title: t('jump'), target: "_blank" %>
  </span>

  <%= render 'pages/data/icons_menu', resource: letter_item %>
<% end %>
