<div class="holder">
  <ul class="settings-list forums">
    <% current_user.forums.each do |forum| %>
      <li class="forum_<%= forum.id %>">
        <div class="item">
          <span class="name">
            <%= link_to forum.name.truncate(64), forum.url, target: "_blank", title: t('jump') %>
          </span>
          <%= render 'pages/data/icons_menu', resource: forum %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
