<ul class="info-list user">

  <li>
    <div class="field info">
      <span class="info-name"><%= User.human_attribute_name(:nick) %></span>
      <span class="info-holder"><%= current_user.nick %></span>
    </div>
  </li>

</ul>
