<%
resource = nil
resource = current_user.reader_set if whose == :reader
resource = current_user.mailer_set if whose == :mailer
%>

<div class="status <%= whose %>">
  <span><%= resource.status %></span>
  <sup>
    <%= link_to( t(:change), instance_eval("change_status_#{whose}_path(resource)"),
      method: :patch,
      remote: true ) %>
  </sup>
</div>
