.pages.info  {

  .holder {
    margin:0 0 45px;

    .border-img {
      height:42px;
      margin: 0 -41px 0 -33px;
      padding:0 41px 10px 33px;
      background: image-url("border-img-05.png") no-repeat;
    }
  }

  h2.alert { color: red; }
}
