<% @news.each do |item| %>

  <%
  letter_item = LetterItem.find(item[0])
  feed_items = FeedItem.find(item[1])
  %>

  <h2><%= letter_item.name %></h2>

  <ul>
    <% feed_items.each do |feed_item| %>
      <li>
        <%= link_to feed_item.theme, feed_item.url %>
        <small>
          <i>
            (<%= feed_item.date.strftime('%Y-%m-%d %H:%M') %>)
          </i>
        </small>
      </li>
    <% end %>
  </ul>
<% end %>
