<%# Засабмитить форму %>
<% val = defined?(text) ? text : t('form.submit') %>

<div class="holder-button">
  <%= submit_tag(val) %>
  <%= yield %> <%# See example in sessions/_form.html.erb %>
</div>
