<table>
  <tr><td colspan="2">HELP</td></tr>
  <tr><td colspan="2">STATUS</td></tr>

  <tr><td colspan="2"></td></tr>

  <tr><td>ON</td><td># включить доставку</td></tr>
  <tr><td>OFF</td><td># выключить (приостановить) доставку</td></tr>

  <tr><td colspan="2"></td></tr>
  <tr><td colspan="2"></td></tr>

  <tr><td>bcc</td><td># последние новости с bbc.com (<b><i>не</i></b>прочитанные, только заголовки)</td></tr>
  <tr><td>bcc+</td><td># последние новости с bbc.com (<b><i>не</i></b>прочитанные, заголовки и текст)</td></tr>

  <tr><td colspan="2"></td></tr>

  <tr><td>LAST bbc</td><td># <%= CommandJob::DEFAULT_SELECTION_SIZE %> последних <b><i>про</i></b>читанных новостей (заголовки)</td></tr>
  <tr><td>LAST bbc 15</td><td># 15 последних <b><i>про</i></b>читанных новостей (заголовки)</td></tr>

  <tr><td colspan="2"></td></tr>

  <tr>
    <td>LAST bbc+</td>
    <td># <%= CommandJob::DEFAULT_SELECTION_SIZE %> последних <b><i>про</i></b>читанных новостей (заголовки и текст)</td>
  </tr>
  <tr><td>LAST bbc+ 15</td><td># 15 последних <b><i>про</i></b>читанных новостей (заголовки и текст)</td></tr>
</table>



<br/>
<br/>


<p>
  <i>
    P.S. Вместо <b>bbc</b> может быть любое слово из названия форума,
    письма или фида в письме. Если такое слово встречается в
    нескольких из них, то берется первое совпадение.
  </i>
</p>
