<table>
  <tr><td colspan="2">HELP</td></tr>
  <tr><td colspan="2">STATUS</td></tr>

  <tr><td colspan="2"></td></tr>

  <tr><td>ON</td><td># switch on delivery</td></tr>
  <tr><td>OFF</td><td># switch off (suspend) delivery</td></tr>

  <tr><td colspan="2"></td></tr>
  <tr><td colspan="2"></td></tr>

  <tr><td>bcc</td><td># latest news from bbc.com (<b><i>un</i></b>read, only titles)</td></tr>
  <tr><td>bcc+</td><td># latest news from bbc.com (<b><i>un</i></b>read, titles and text)</td></tr>

  <tr><td colspan="2"></td></tr>

  <tr><td>LAST bbc</td><td># last <%= 'todo: DEFS::READER::BOTE::DEFAULT_COUNT' %> <b><i>read</i></b> news (titles)</td></tr>
  <tr><td>LAST bbc 15</td><td># last 15 <b><i>read</i></b> news (titles)</td></tr>

  <tr><td colspan="2"></td></tr>

  <tr><td>LAST bbc+</td><td># last <%= 'todo: DEFS::READER::BOTE::DEFAULT_COUNT' %> <b><i>read</i></b> news (titles and text)</td></tr>
  <tr><td>LAST bbc+ 15</td><td># last 15 <b><i>read</i></b> news (titles and text)</td></tr>
</table>



<br/>
<br/>

<p>
  <i>
    P.S. Instead of <b>bbc</b> any word from forum, letter or
    feed’s name can be. If such word is in few of them, bote takes the
    first coincidence.
  </i>
</p>
